---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const contactPost = await getEntry("spec", "contact");

if (!contactPost) {
	throw new Error("Contact page content not found");
}

const { Content } = await render(contactPost);
---

<MainGridLayout banner={contactPost.data.banner} title={contactPost.data.title}>
    <div class="card-base">
        <Markdown class="mt-2">
            <Content />
        </Markdown>
    </div>
</MainGridLayout>