---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const experiencePost = await getEntry("spec", "experience");

if (!experiencePost) {
	throw new Error("Experience page content not found");
}

const { Content } = await render(experiencePost);
---

<MainGridLayout banner={experiencePost.data.banner} title={experiencePost.data.title}>
    <div class="card-base">
        <Markdown class="mt-2">
            <Content />
        </Markdown>
    </div>
</MainGridLayout>