---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const galleryPost = await getEntry("spec", "gallery");

if (!galleryPost) {
	throw new Error("Gallery page content not found");
}

const { Content } = await render(galleryPost);
---

<MainGridLayout banner={galleryPost.data.banner} title={galleryPost.data.title}>
    <div class="card-base">
        <Markdown class="mt-2">
            <Content />
        </Markdown>
    </div>
</MainGridLayout>