---
import { getCollection, getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import Pagination from "../components/control/Pagination.astro";
import GalleryPage from "../components/GalleryPage.astro";
import { PAGE_SIZE } from "../constants/constants";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const galleryPost = await getEntry("spec", "gallery");

if (!galleryPost) {
	throw new Error("Gallery page content not found");
}

const { Content } = await render(galleryPost);

// Get all gallery collections and paginate like posts
const allGalleryCollections = await getCollection("gallery");
const publishedGalleries = allGalleryCollections
	.filter((gallery) => gallery.data.published)
	.sort(
		(a, b) =>
			new Date(b.data.published).getTime() -
			new Date(a.data.published).getTime(),
	);

// Create a page object similar to posts pagination
const page = {
	data: publishedGalleries,
	currentPage: 1,
	lastPage: 1,
	size: publishedGalleries.length,
	total: publishedGalleries.length,
	url: {
		current: "/gallery/",
		next: undefined,
		prev: undefined,
	},
};

const len = page.data.length;
---

<MainGridLayout banner={galleryPost.data.banner} title={galleryPost.data.title}>
    <div class="card-base">
        <Markdown class="mt-2">
            <Content />
        </Markdown>
    </div>
    
    <!-- Gallery Collections using consistent styling -->
    <GalleryPage page={page}></GalleryPage>
</MainGridLayout>