---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const skillsPost = await getEntry("spec", "skills");

if (!skillsPost) {
	throw new Error("Skills page content not found");
}

const { Content } = await render(skillsPost);
---

<MainGridLayout banner={skillsPost.data.banner} title={skillsPost.data.title}>
    <div class="card-base">
        <Markdown class="mt-2">
            <Content />
        </Markdown>
    </div>
</MainGridLayout>
