node_modules
.next
.git
.github
.husky
.vscode
.devcontainer
.astro

coverage
tests
test-results

*.md
!README.md

.env*
!.env.example

wrangler.jsonc
open-next.config.ts

studio/node_modules
studio/.sanity
studio/dist

docs
scripts/*
!scripts/generate-sw-manifest.mjs

.namias
